*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 0;
    padding: 0 0;
    max-height: 100svh;
    height: 100svh;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}

.scene {
    width: 100%;
    height: 100%;
    /* background-color: rgb(206, 226, 230); */
    position: relative;
    background-color: rgb(206, 226, 230);

}

#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* background-color: rgb(206, 226, 230); */
    /* background-color: black; */
	opacity: 1;
	z-index: 100000;
}
  
.snowflake {
    position: absolute;
    top: -10%;
    fill: rgb(255, 255, 255);
    opacity: 0.8;
    /* move blur to js */
    /* filter: blur(0.5px); */
    /* animation: fall linear infinite, sway ease-in-out infinite; */
    animation: fall-sway linear infinite;
}
  
@keyframes fall-sway {
    0% {
      	transform: translateX(0) translateY(-10%);
    }
    50% {
      	transform: translateX(20px) translateY(50vh);
    }
    100% {
      	transform: translateX(-20px) translateY(110svh);
    }
}

/* general tree design? */
.tree {
    position: absolute;
    width: 55px;
    height: 125px;
    background-color: green;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 100;
}

.sky {
	/* gradient */
	/* glow */
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    background-color: rgb(148, 187, 167); 
    z-index: 10;
}

.cloud {
    position: absolute;
    display: flex;
    align-items: center;
    width: 15%;
    height: 15%;
}

.cloud > div {
    border-radius: 50%;
}

.cloud > div:nth-of-type(1) {
    width: 33%;
    height: 33%;
    transform: translateX(12%);
}

.cloud > div:nth-of-type(2) {
    width: 33%;
    height: 33%;
}

.cloud > div:nth-of-type(3) {
    width: 33%;
    height: 33%;
    transform: translateX(-7.5%);
}

.cloud-1 {
    top: 50%;
    left: 15%;
    /* transform: scale(0.5); */
    div {
        background-color: rgb(93, 126, 244);
    }
}
.cloud-2 {
    top: 35%;
    left: 35%;
    transform: rotateY(-180deg);
    div {
        background-color: rgb(97, 125, 227);
    }
}
.cloud-3 {
    top: 60%;
    left: 60%;
    div {
        background-color: rgb(75, 108, 226);
    }
}

/* cloud variant */
.cloud2 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 15%;
    left: 25%;
    width: 15%;
    height: 15%;
}

.cloud2 > div {
    width: 33%;
    height: 50%;
    background-color: rgb(89, 144, 222);
    clip-path: ellipse(50% 44% at 50% 100%);
}

.cloud2 > div:nth-of-type(2) {
    /* transform: scale(1.2); */
}

/* imagine spending your evening like this :D */
.cloud3 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 25%;
    left: 55%;
    width: 25%;
    height: 15%;
}

.cloud3 > div {
    height: 50%;
    background-color: rgb(89, 144, 222);
    clip-path: ellipse(50% 44% at 50% 100%);
}

.cloud3 > div:nth-of-type(1) {
    width: 33%;
}
.cloud3 > div:nth-of-type(2) {
    width: 50%;
}
.cloud3 > div:nth-of-type(3) {
    width: 33%;
}

.cloud4 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 45%;
    left: 55%;
    width: 20%;
    height: 15%;
    background-color: rgb(197, 183, 243);
    clip-path: polygon(68% 0, 80% 18%, 85% 0, 97% 0, 100% 33%, 0 33%, 8% 0, 23% 0, 38% 16%, 51% 0);
}

.mountains {
    position: absolute;
    top: 30%;
    left: 0;
    height: 30%;
    width: 100%;
    /* background-color: rgb(175, 172, 160); */
    z-index: 100;
}

.mountain {
    position: absolute;
    top: 0;
    height: 100%;
    /* height: 80%; */
    /* width: 250px; */
    background-color: rgb(97, 95, 91);
    z-index: 100;
}

/* before : after  */

.mountain-1 {
    left: 0;
    width: 35%;
    transform: translateY(50px);
    clip-path: polygon(22% 0, 48% 6%, 67% 17%, 78% 58%, 100% 100%, 0 100%, 7% 30%);

}

.mountain-2 {
    left: 35%;
    width: 25%;
    clip-path: polygon(28% 9%, 73% 0, 95% 30%, 100% 61%, 100% 100%, 0 100%, 7% 30%);
}

.mountain-3 {
    left: 65%;
    width: 35%;
    clip-path: polygon(22% 0, 48% 6%, 67% 17%, 78% 58%, 100% 100%, 0 100%, 7% 30%);
    /* transform: skew(-180deg); */
    transform: rotateY(-180deg);
}

/* move the entire thing down */
.lake-container {
	/* ice effect. */
	position: absolute;
	top: 50%;
	left: 0;
	height: 30%;
	width: 100%;
	/* background-color: rgb(19, 79, 144); */
	background-color: rgb(210, 235, 243);
    clip-path: polygon(25% 2%, 72% 10%, 92% 9%, 100% 0, 100% 100%, 0 100%, 0 0, 10% 8%);
    z-index: 1000;
}

.lake {
    position: absolute;
	top: 0;
	left: 5%;
	height: 100%;
	width: 90%;
	clip-path: polygon(28% 9%, 72% 10%, 87% 5%, 100% 15%, 100% 100%, 0 100%, 0 17%, 6% 0);
	/* background-color: rgb(171, 198, 227); */
	background-color: rgb(19, 79, 144);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lake > div {
    background: rgb(0, 247, 255);
    height: 5%;
    transform: rotate(-3deg);
}

.snow-bumps {
	position: absolute;
	top: 70%;
	left: 0;
	height: 30%;
	width: 100%;
	background-color: rgb(171, 213, 227);
    overflow: visible;
	/* should be the bumps container covering the lake */
	/* clip-path: polygon(28% 9%, 72% 10%, 87% 5%, 100% 15%, 100% 100%, 0 100%, 0 17%, 6% 0); */
    clip-path: polygon(25% 2%, 72% 10%, 92% 9%, 100% 0, 100% 100%, 0 100%, 0 0, 10% 8%);
    z-index: 10000;
}

.dirt {

}

/* figure out struct? */
.trees-bottom {
    position: absolute;
    /* wat */
  	bottom: 15%;
    left: 0;
}